<div
  class="container d-flex align-items-center justify-content-center min-vh-100"
>
  <div class="card shadow-lg rounded-4 p-5 w-100" style="max-width: 1000px">
    <div class="row g-4 align-items-center">
      <!-- Image Section -->
      <div class="col-md-4 text-center">
        <img
          src="rapido.jpg"
          alt="me"
          class="img-fluid rounded-circle shadow"
        />
      </div>

      <div class="col-md-8">
        <h2 class="fw-bold mb-3">Bonjour, je suis Luigi Giusiano !</h2>
        <p class="text-secondary mb-1">👨‍💻 Développement Logiciel</p>
        <br />
        <p class="mb-4">
          Dans le cadre de ce projet, j'ai développé une application Angular
          utilisant l'API
          <strong>Jikan</strong>, une interface non officielle de MyAnimeList.
          Elle permet aux utilisateurs de rechercher des animes, consulter leurs
          fiches détaillées, afficher des suggestions pertinentes et filtrer les
          contenus NSFW pour une navigation sécurisée. <br /><br />
          L'application intègre également un mini-jeu
          <strong>"Guess the Character"</strong>, dans lequel l'utilisateur doit
          deviner le nom de l’un des
          <strong>100 personnages les plus populaires</strong> à partir de son
          image.
        </p>

        <div class="d-flex flex-wrap gap-2">
          <a
            href="https://github.com/Epiiiix"
            target="_blank"
            class="btn btn-dark"
          >
            <i class="bi bi-github me-1"></i> GitHub
          </a>
          <a
            href="https://www.linkedin.com/in/luigi-giusiano/"
            target="_blank"
            class="btn btn-info text-white"
          >
            <i class="bi bi-linkedin me-1"></i> LinkedIn
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
