<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <img [src]="anime.image" class="img-fluid" alt="Anime image" />
    </div>

    <div class="col-md-8">
      <h1>{{ anime.title }}</h1>
      <h4 class="text-muted">
        {{ anime.title_english }} ({{ anime.title_japanese }})
      </h4>

      <p>{{ anime.synopsis }}</p>

      <div class="mt-3">
        <h5>Rating: {{ anime.rating }}</h5>
        <div class="d-flex align-items-center">
          <span class="h3 text-warning mr-2">{{ anime.score }}</span>
        </div>
        <span>({{ anime.scored_by }} votes)</span>
      </div>

      <div class="mt-4">
        <p><strong>Type:</strong> {{ anime.type }}</p>
        <p><strong>Episodes:</strong> {{ anime.episodes }}</p>
        <p><strong>Season:</strong> {{ anime.season }} {{ anime.year }}</p>
        <p><strong>Status:</strong> {{ anime.status }}</p>
        <p><strong>Broadcast:</strong> {{ anime.broadcast }}</p>
      </div>
    </div>
  </div>
  @if(characters.length > 0){
  <hr />
  <app-character-list
    title="Personnages"
    [characters]="characters"
  ></app-character-list>
  } @if(recommendations.length > 0){
  <hr />
  <app-anime-list
    title="Recommandations"
    [animeList]="recommendations"
  ></app-anime-list
  >}
</div>
