<div class="d-flex justify-content-center mt-3">
  <div class="w-50 position-relative">
    <input
      type="text"
      class="form-control"
      placeholder="Rechercher un anime..."
      [formControl]="searchCtrl"
      (keyup.enter)="onSearch()"
    />

    @if(searchCtrl.value) {
    <button
      type="button"
      class="btn btn-sm btn-light position-absolute clear-btn"
      (click)="clearSearch()"
    >
      ❌
    </button>
    } @if(suggestions.length && this.searchCtrl.value != '') {
    <ul class="list-group mt-1 shadow-sm rounded position-absolute w-100">
      @for(anime of suggestions; track anime.id) {
      <li
        class="list-group-item list-group-item-action d-flex align-items-center"
        (click)="selectAnime(anime.id)"
      >
        <span class="font-weight-bold">{{ anime.title }}</span>
      </li>
      }
    </ul>
    }
  </div>

  <button
    class="btn btn-primary ml-2"
    (click)="onSearch()"
    [disabled]="(searchCtrl.value?.length ?? 0) < 3"
  >
    Rechercher
  </button>
</div>
